.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._图像 {
}
.button {
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.table_cell {
}
._流程形状 {
}
._默认样式 {
}
.icon {
}
.line {
}
._形状 {
}
._复选框 {
  text-align:left;
}
._横线 {
}
.shape {
}
.placeholder {
}
.box_11 {
}
._图片 {
  color:#000000;
}
.box_21 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
._形状1 {
}
.flow_shape {
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.primary_button {
  color:#FFFFFF;
}
